@import url("https://rsms.me/inter/inter.css");
@import "tailwindcss";

/* RESET */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter var", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white);
}

body::-webkit-scrollbar {
  display: none;
}

.c-main {
  overflow: hidden;
}

::selection {
  color: #333;
  background: #f1f1f1;
}

.c-text p {
  margin-bottom: 1.25rem;
}

.ar-14-9 {
  aspect-ratio: 14/9;
}

.dark body,
.darkBus body {
  background-color: var(--color-gray-950);
}

.dark,
.darkBus {
  --color-slate-500: #cacaca;
  --color-slate-800: #fafafa;
  --color-indigo-600: #cacaca;
  --color-red-500: var(--color-gray-950);
}

.darkBus .dark\:text-black {
  color: black;
}

.darkBus .dark\:bg-white {
  background-color: white;
}

.dark .dark\:fill-white,
.darkBus .dark\:fill-white {
  fill: white;
}

.dark .dark\:text-white,
.darkBus .dark\:text-white {
  color: white;
}

.dark .dark\:bg-gray-900,
.darkBus .dark\:bg-gray-900 {
  background-color: var(--color-gray-900);
}
