@import url("https://rsms.me/inter/inter.css");
@import "tailwindcss";

/* RESET */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter var", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

::selection {
  color: #333;
  background: #f1f1f1;
}

.c-text p {
  margin-bottom: 1.25rem;
}

.ar-14-9 {
  aspect-ratio: 14/9;
}
